<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/timer.js"></script>
    <title>Admin</title>
</head>
<body>
<div class="wrapper">

    <div class="nav" id="nav">
        <ul>
<!--             <li><a id="starttimer" onclick="timer()" >Start</a></li> -->
            <li><a href="#">second</a></li>
            <li><a href="#">three</a></li>
            <li><a href="#">four</a></li>
            <li><a href="#">five</a></li>
        </ul>
    </div>

    <div class="header">
        <div class="logo"><img src="assets/d2dzjyo4yc2sta.cloudfront.net.jpg" alt="logo"></div>
        <p class="name-email">Фамилия и Email</p>
        <p id="timer"></p>

        <div id="burger-menu">
            <div class="menu">
                <div class="first-line"></div>
                <div class="second-line"></div>
                <div class="three-line"></div>
            </div>
        </div>
    </div>

    <div class="content-md-lg">
        <table cellpadding="10" border="1" width="100%">
            <tr>
                <th>Сотрудники</th>
                <th><a href="#">E-mail</a></th>
                <th>Задачи</th>
                <th>Время</th>
                <th>Статус</th>
                <th>Даные работника</th>
            </tr>
            <tr>
                <td>Андрей</td>
                <td><a href="#">Andrey@gmail.com</a></td>
                <td>оптимизация</td>
                <td>16:37</td>
                <td>green</td>
                <td>+38045356624</td>
            </tr>
            <tr>
                <td>Едик</td>
                <td><a href="#">Edic@gmail.com</a></td>
                <td>backend</td>
                <td>14:44</td>
                <td>green</td>
                <td>+33455634553</td>
            </tr>
            <tr>
                <td>Ання</td>
                <td><a href="#">Anna@gmail.com</a></td>
                <td>front-tend</td>
                <td>12:22</td>
                <td>green</td>
                <td>+38093345463</td>
            </tr>
            <tr>
                <td>Денис</td>
                <td><a href="#">Den@gmail.com</a></td>
                <td>backend</td>
                <td>15:44</td>
                <td>green</td>
                <td>+30678432545</td>
            </tr>
            <tr>
                <td>Артур</td>
                <td><a href="#">Artur@gamil.com</a></td>
                <td>JavaScript</td>
                <td>12:44</td>
                <td>green</td>
                <td>+38096435343</td>
            </tr>
        </table>
    </div>

    <div class="content-sm">
        <table cellpadding="10" border="1" width="90%" class="information-person">
            <tr>
                <td>Андрей</td>
            </tr>
            <tr>
                <td><a href="#">Andrey@gmail.com</a></td>
            </tr>
            <tr>
                <td>оптимизация</td>
            </tr>
            <tr>
                <td>16:37</td>
            </tr>
            <tr>
                <td>green</td>
            </tr>
            <tr>
                <td>+38045356624</td>
            </tr>
        </table>

        <table cellpadding="10" border="1" width="90%" class="information-person">
            <tr>
                <td>Едик</td>
            </tr>
            <tr>
                <td><a href="#">Edic@gmail.com</a></td>
            </tr>
            <tr>
                <td>JavaScript</td>
            </tr>
            <tr>
                <td>14:44</td>
            </tr>
            <tr>
                <td>green</td>
            </tr>
            <tr>
                <td>+38096435343</td>
            </tr>
        </table>

        <table cellpadding="10" border="1" width="90%" class="information-person">
            <tr>
                <td>Ання</td>
            </tr>
            <tr>
                <td><a href="#">Anna@gmail.com</a></td>
            </tr>
            <tr>
                <td>front-tend</td>
            </tr>
            <tr>
                <td>12 : 22</td>
            </tr>
            <tr>
                <td>green</td>
            </tr>
            <tr>
                <td>+38096435343</td>
            </tr>
        </table>

        <table cellpadding="10" border="1" width="90%" class="information-person">
            <tr>
                <td>Денис</td>
            </tr>
            <tr>
                <td><a href="#">Den@gmail.com</a></td>
            </tr>
            <tr>
                <td>backend</td>
            </tr>
            <tr>
                <td>15 : 44</td>
            </tr>
            <tr>
                <td>green</td>
            </tr>
            <tr>
                <td>+380678432545</td>
            </tr>
        </table>

        <table cellpadding="10" border="1" width="90%" class="information-person">
            <tr>
                <td>Артур</td>
            </tr>
            <tr>
                <td><a href="#">Artur@gamil.com</a></td>
            </tr>
            <tr>
                <td>JavaScript</td>
            </tr>
            <tr>
                <td>12:44</td>
            </tr>
            <tr>
                <td>green</td>
            </tr>
            <tr>
                <td>+38096435343</td>
            </tr>
        </table>
    </div>

</div>
<script src="js/my-js.js"></script>
</body>
</html>